<action-sheet>
  <div class="info-container" [ngSwitch]="sheetType">
    <info-sheet-template *ngSwitchCase="'address-copied'" type="success">
      <span sheet-title-text>{{'Copied {coin} address' | translate: {coin: params.coin | uppercase }
        }}</span>
      <span sheet-text class="text-address">{{params.address}}</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-needed-with-activity'" type="info">
      <span sheet-title-text translate>Needs Backup</span>
      <span sheet-text translate>
        Congratulations! It looks like you've recently received money. It's highly advised that you verify your recovery phrase so that your funds can be recovered in case your phone was lost or stolen.
      </span>
      <span sheet-button-text translate>Continue</span>
      <span sheet-second-button-text translate>Not right now</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'miner-fee-notice'" type="warning">
      <span sheet-title-text translate>Miner Fee Notice</span>
      <span sheet-text>
        {{'Because you are sending the maximum amount contained in this wallet, the {coinName} miner fee ({fee} {coin}) will be deducted from the total.  {msg}' | translate: {coinName: params.coinName, fee: params.fee, coin:params.coin, msg: params.msg} }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'speed-up-notice'" type="warning">
      <span sheet-title-text translate>Miner Fee Notice</span>
      <span sheet-text>
        {{'Because you are speeding up this transaction, the {coinName} miner fee ({fee} {coin}) will be deducted from the total.' | translate: {coinName: params.coinName, fee: params.fee, coin:params.coin} }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'insufficient-funds-for-fee'" type="danger">
      <span *ngIf="!params.isERCToken" sheet-title-text translate>Insufficient funds for fee</span>
      <span *ngIf="params.isERCToken" sheet-title-text translate>Insufficient funds for fee in your ETH linked wallet</span>
      <span *ngIf="params.coin === 'btc' || params.coin === 'eth' || params.isERCToken; else shortNotice" sheet-text>
        <span>{{ 'Current fee value:' | translate }} {{params.fee}} ({{params.feeAlternative}})</span>
        <br>
        <br>
        {{ 'Keep in mind fees are not charged by AbcPay.' | translate }}
        <br>
        <br>
        {{ 'Before sending more funds to complete this transaction we recommend you read more about miner fees.' | translate }}
        <br>
        <br>
        <span *ngIf="params.canChooseFeeLevel">{{ "If you don't mind waiting longer for this transaction to confirm you can change to a lower miner fee level." | translate  }}</span>
      </span>
      <ng-template #shortNotice>
        <span sheet-text>
          {{ 'Current fee value:' | translate }} {{params.fee}} ({{params.feeAlternative}})          <br>
          <br>
          {{ 'Keep in mind fees are not charged by AbcPay.' }}
        </span>
      </ng-template>
      <span *ngIf="params.coin === 'btc' || params.coin === 'eth' || params.isERCToken" sheet-button-text translate>Learn More</span>
      <span *ngIf="!params.canChooseFeeLevel" sheet-second-button-text translate>CANCEL</span>
      <span *ngIf="params.canChooseFeeLevel" sheet-second-button-text translate>CHOOSE FEE LEVEL</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'insufficient-funds'" type="danger">
      <span sheet-title-text translate>Not enough funds</span>
      <span sheet-text>
        {{ 'You are trying to send more funds than you have available. Make sure you do not have funds locked by pending transaction proposals. You can also try with a lower amount or send max.' | translate }}
      </span>
      <span sheet-button-text translate>Change Amount</span>
      <span sheet-second-button-text translate>Send Max</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'import-no-wallet-warning'" type="warning">
      <span sheet-title-text translate>We couldn't find your wallet!</span>
      <span sheet-text>
        {{ 'There are no records of your wallet on our servers. If you are importing a BIP44 compatible wallet from a 3rd party you can continue to recreate it. If you wallet is not BIP44 compatible, you will not be able to access its funds.' | translate }}
      </span>
      <span sheet-button-text translate>Go Back</span>
      <span sheet-second-button-text translate>Continue Anyway</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'default-error'" type="danger">
      <span sheet-title-text>{{params.title}}</span>
      <span sheet-text>{{params.msg}}</span>
      <span sheet-button-text translate>GOT IT</span>
      <span sheet-second-button-text translate *ngIf="params.secondBtnText" (click)="openInBrowser(params.url)">{{ params.secondBtnText }}</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-later-warning'" type="warning">
      <span sheet-title-text translate>Are you sure?</span>
      <span sheet-text translate>
        Receiving funds will be temporarily disabled until you can verify your key has been stored away securely. You can always complete this later.
      </span>
      <span sheet-button-text translate>I'M SURE</span>
      <span sheet-second-button-text translate>GO BACK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-ready'" type="success">
      <span sheet-title-text>{{'Your {walletType} wallet is backed up!' | translate : {walletType: params.walletType} }}</span>
      <span sheet-text translate>
        Be sure to store your recovery phrase in a secure place. If this app is deleted, your money cannot be recovered without it.
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'backup-safeguard-warning'" type="info">
      <span sheet-title-text translate>Recovery Key</span>
      <span sheet-text translate>
        Your recovery key is composed of 12 randomly selected words. Please carefully write down each word in the order it appears.
      </span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'sensitive-info'" type="warning">
      <span sheet-title-text translate>Sensitive Data</span>
      <span sheet-text translate>
        The information you are about to share/export may contain sensitive data such us wallet IDs, addresses, balances, etc. Please be sure you trust the person or entity with whom you are sharing this information.
      </span>
      <span sheet-button-text translate>I understand</span>
      <span sheet-second-button-text translate>Go Back</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'copy-to-clipboard'" type="success">
      <span sheet-title-text translate>Copied to Clipboard</span>
      <span sheet-text>{{params?.msg}}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'copied-gift-card-claim-code'" type="success">
      <span sheet-title-text style="word-break: break-all;">{{'Copied: {claimCode}' | translate: params }}</span>
      <span sheet-text>
        <redeem-instructions [cardConfig]="params.cardConfig" [params]="params"></redeem-instructions>
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'linkEthWallet'" type="{{ params.wallets[0] ? 'info' : 'warning' }}">
      <span *ngIf="params.wallets && params.wallets.length > 0" sheet-title-text translate>Select an Ethereum Wallet</span>
      <span *ngIf="!params.wallets[0]" sheet-title-text translate>Ethereum wallet required</span>
      <span *ngIf="params.wallets && params.wallets.length > 0 && !params.isEthMultisig" sheet-text translate>Which Ethereum wallet would you like this token to use for transaction costs?</span>
      <span *ngIf="params.wallets && params.wallets.length > 0 && params.isEthMultisig" sheet-text translate>Which Ethereum wallet would you like this multisig wallet to use for transaction costs?</span>

      <span *ngIf="!params.wallets[0] && !params.isEthMultisig" sheet-text translate>
        In order to create a token wallet, an Ethereum (ETH) wallet is required. Please create an ETH wallet first. Only one {{ params.token.name }} wallet is allowed per ETH wallet.
      </span>
      <span *ngIf="!params.wallets[0] && params.isEthMultisig" sheet-text translate>
        In order to create this multisig wallet, an Ethereum (ETH) wallet with enough funds is required.
      </span>

      <span sheet-text>
        <div style="margin-top: 20px" *ngIf="params.wallets && params.wallets.length > 0">
          <ion-list class="bp-list">
            <div *ngFor="let wallet of params.wallets">
              <wallet-item-content [wallet]="wallet" (click)="optionClicked(wallet)"></wallet-item-content>
            </div>
          </ion-list>
        </div>
      </span>

      <span sheet-button-text *ngIf="params.wallets[0]" translate>GO BACK</span>
      <span sheet-button-text *ngIf="!params.wallets[0]" translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'copied-invoice-url'" type="{{ params.error ? 'danger' : 'success' }}">
      <span *ngIf="!params.error" sheet-title-text class="truncate">
        <span translate>Copied</span>: {{params.invoiceUrl}}
      </span>
      <span *ngIf="params.error" sheet-title-text class="truncate">
        <span translate>Error</span>: {{params.error}}
      </span>
      <span sheet-text>
        <redeem-instructions [cardConfig]="params.cardConfig" [params]="params"></redeem-instructions>
      </span>
      <span sheet-button-text translate>GOT IT</span>
      <span sheet-button-text class="sheet-btn-invoice" translate (click)="openInBrowser(params.invoiceUrl)" style="float: right;" item-end>OPEN IN BROWSER
      </span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'archive-all-gift-cards'" type="warning">
      <span sheet-title-text>{{'Archive All {brand} Gift Cards?' | translate: params }}</span>
      <span sheet-text>{{'Have you redeemed all of your {brand} Gift Cards? Archived gift cards will still be accessible in settings.' | translate: params }}</span>
      <span sheet-button-text translate>YES</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'archive-gift-card'" type="warning">
      <span sheet-title-text translate>Archive this Card?</span>
      <span sheet-text translate>Have you redeemed the entire balance of this gift card?</span>
      <span sheet-button-text translate>YES</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'hide-gift-card-discount-item'" type="warning">
      <span sheet-title-text translate>Hide discount?</span>
      <span sheet-text translate>Would you like to hide this gift card discount?</span>
      <span sheet-button-text translate>YES</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'gift-card-archived'" type="success">
      <span sheet-title-text translate>Card Archived</span>
      <span sheet-text translate>You can continue to view your archived cards here if you need to access them.</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'activation-fee-included'" type="info">
      <span sheet-title-text translate>Activation Fee</span>
      <span sheet-text>{{'{displayName} gift cards contain an additional activation fee of {fee} {currency}.' | translate: params }}</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'gift-cards-unavailable'" type="danger">
      <span sheet-title-text translate>Temporarily Unavailable</span>
      <span sheet-text translate>Gift card purchases are temporarily unavailable. Please try again later.</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'below-minimum-gift-card-amount'" type="danger">
      <span sheet-title-text translate>Below Minimum Amount</span>
      <span sheet-text>{{'The purchase amount must be at least {minAmount} {currency}. Please modify your amount.' | translate: params }}</span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'above-maximum-gift-card-amount'" type="danger">
      <span sheet-title-text translate>Purchase Limit Reached</span>
      <span sheet-text>
        {{'The purchase amount is limited to {maxAmount} {currency} per day. Please modify your amount.' | translate:params }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'legacy-address-info'" type="info">
      <span sheet-title-text>{{'{appName} BCH wallets use the CashAddr format by default' | translate: {appName:params.appName} }}</span>
      <span sheet-text translate>
        If you need to send to "old" addresses (like the one you just pasted), and you are SURE those are BCH addresses, you can "translate" them to the corresponding address in CashAddr format.
      </span>
      <span sheet-button-text translate>Translate address</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'appreciate-review'" type="love">
      <span sheet-title-text translate>We appreciate your review</span>
      <span sheet-text translate>
        5-star ratings help us get AbcPay Wallet into more hands, and more users means more resources can be committed to the app!
      </span>
      <span sheet-button-text>{{'Continue to {storeName}' | translate: {storeName: params?.storeName}
        }}</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'payment-request'" type="info">
      <span sheet-title-text translate>Payment Request info</span>
      <span sheet-text>
        {{'Share this QR code to receive {amount} in your wallet {name}.' | translate: {amount: params.amount, name:params.name} }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'payment-method-changed'" type="warning">
      <span sheet-title-text translate>Payment method updated</span>
      <span *ngIf="params.reason == 'coin'" sheet-text>
        {{'Only the payment methods supported to buy {coin} with {currency} will be shown.' | translate: {coin: params.coin | uppercase, currency:params.currency | uppercase} }}
      </span>
      <span *ngIf="params.reason == 'country'" sheet-text>
        {{'SEPA Bank Transfer purchases are not supported outside the European Union.' | translate: {coin: params.coin | uppercase, currency:params.currency | uppercase} }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'one-phone-country'" type="info">
      <span sheet-title-text translate>{{params.countryCode === 'US' ? 'U.S.' : params.countryCode}} Phone Required</span>
      <span sheet-text>
        {{'Only a {name} phone number can be used for this purchase.' | translate: {name:params.country.name} }}
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'print-required'" type="info">
      <span sheet-title-text translate>Printed Gift Card Required</span>
      <span sheet-text>
        {{'{displayName} requires you to present a printed gift card at redemption.' | translate: params }} <br />
        <br />
        You will be able to print this gift card upon completing your purchase.
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'in-app-notification'" type="success">
      <span sheet-title-text>{{params.title}}</span>
      <span sheet-text>{{params.body}}</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'request-feature'" type="info">
      <span sheet-title-text translate>Request a new feature</span>
      <span sheet-text translate>
        If you need immediate help with a problem you are having, then get help by contacting our support team.
      </span>
      <span sheet-button-text translate>Get help</span>
      <span sheet-second-button-text translate>Request feature</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'report-issue'" type="info">
      <span sheet-title-text translate>Report an issue</span>
      <span sheet-text translate>
        Found something broken? Please report it as a bug. If you need immediate help with a problem you are having, then get help by contacting our support team.
      </span>
      <span sheet-button-text translate>Get help</span>
      <span sheet-second-button-text translate>Report issue</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'new-key'" type="warning">
      <span sheet-title-text translate>Store this key separately</span>
      <span sheet-text translate>
        This is a new 12-word key that manages its own set of wallets. It is unrelated to any 12 word key you may have previously created. Store and manage it accordingly.
      </span>
      <span sheet-button-text translate>Learn More</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'bch-legacy-warning-1'" type="warning">
      <span sheet-title-text translate>Warning!</span>
      <span sheet-text translate>
        Legacy address types in Bitcoin Cash are OBSOLETE. Only use this feature if you are required to provide a legacy address to the sending party
      </span>
      <span sheet-button-text translate>I Understand</span>
      <span sheet-second-button-text translate>Cancel</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'bch-legacy-warning-2'" type="warning">
      <span sheet-title-text translate>Warning!</span>
      <span sheet-text translate>
        Sending BTC to a Bitcoin Cash legacy address will result on permanent lost of funds. This feature is only for advanced users.
      </span>
      <span sheet-second-button-text translate>Cancel</span>
      <span sheet-button-text translate>Show me the legacy address</span>
    </info-sheet-template>


    <info-sheet-template *ngSwitchCase="'network-coin-warning'" type="warning">
      <span sheet-title-text translate>Warning!</span>
      <span *ngIf="!params.isERCToken; else erc20Warning" sheet-text>
        {{'Depositing any other crypto asset besides {coin} to this address may result in the total loss of your funds. AbcPay is not responsible for any funds loss  due to the deposit of a different asset, wallet or network.' | translate: {coin: params.coin } }}
        <span *ngIf="params.coin === 'XRP'">
          <br>
          <br>
          <span sheet-text>
            {{'Important note: Keep in mind AbcPay has suspended XRP as a payment method, this includes loads to the AbcPay Card, AbcPay invoices and in-app purchases' | translate }}
          </span>
        </span>
      </span>
      <ng-template #erc20Warning>
        <span sheet-text>
          {{'Depositing any other crypto asset besides {coin} to this address or doing it through any other network than ERC20 may result in the total loss of your funds. AbcPay is not responsible for any funds loss  due to the deposit of a different asset, wallet or network.' | translate: {coin: params.coin } }}
        </span>
      </ng-template>
      <span sheet-button-text translate>I Understand</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'wrong-encrypt-password'" type="danger">
      <span sheet-title-text translate>Wrong password</span>
      <span sheet-text>
        <span translate>Forgot your password?</span>
        <ul>
          <li translate>
            Try entering any passwords you may have set in the past
          </li>
          <li translate>
            Remember there are no special requirements for the password (numbers, symbols, etc.)
          </li>
          <li translate>
            Keep in mind your encrypt password is not the 12-word recovery phrase
          </li>
          <li translate>
            You can always reset your encrypt password on your key settings under the option <b>Clear Encrypt Password</b> using your 12 words recovery phrase
          </li>
        </ul>
      </span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'speed-up-tx'" type="warning">
      <span sheet-title-text translate>Transaction still unconfirmed</span>
      <span sheet-text translate>
        This transaction is taking longer than usual to confirm. You can try to speed it up by using a higher fee.
      </span>
      <span sheet-button-text translate>Speed up transaction</span>
      <span sheet-second-button-text translate>View details</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'rbf-tx'" type="danger">
      <span sheet-title-text translate>RBF transaction</span>
      <span sheet-text>
        <span translate>Be careful. Until it confirms, the transaction could be replaced/redirected by the sender. You can try to speed it up by using a higher fee.</span>
        <a class="label-tip-link" (click)="openInBrowser('https://support.bitpay.com/hc/en-us/articles/360028824532-Why-can-t-I-pay-a-BitPay-invoice-using-RBF-')" translate>Read more</a>
      </span>
      <span sheet-button-text translate>Speed up transaction</span>
      <span sheet-second-button-text translate>View details</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'unconfirmed-inputs'" type="danger">
      <span sheet-title-text translate>Unconfirmed inputs</span>
      <span sheet-text translate>
        Be careful. Some inputs of this transaction have no confirmations. Please wait until they are confirmed.
      </span>
      <span sheet-second-button-text translate>View details</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'subtotal-amount'" type="info">
      <span sheet-title-text>{{ 'Subtotal' | translate }}</span>
      <span sheet-text>
        {{ 'For AbcPay invoices and gift cards the subtotal amount is the product or service amount plus network costs.' | translate }}
        <a class="label-tip-link" (click)="openInBrowser('https://support.bitpay.com/hc/en-us/articles/115002990803-What-is-the-Network-Cost-fee-on-BitPay-invoices-and-why-is-BitPay-charging-it')" translate>Read more</a>
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'total-amount'" type="info">
      <span sheet-title-text>{{ 'Total' | translate }}</span>
      <span sheet-text>
        {{ 'The total amount is the subtotal amount plus transaction fees.' | translate }}
        <a class="label-tip-link" (click)="openInBrowser('https://support.bitpay.com/hc/en-us/articles/115003393863-What-are-bitcoin-miner-fees-')" translate>Read more</a>
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'no-wallets-available'" type="info">
      <span sheet-title-text translate>No wallets available</span>
      <span sheet-text>
        <span translate>What could have happened?</span>
        <ul>
          <li translate>
            There are no wallets with enough funds to make the payment
          </li>
          <li translate>
            Part or the entirety of the funds in your wallet/s are unconfirmed
          </li>
          <li translate>Your wallet is testnet</li>
        </ul>
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'recovery-phrase-length'" type="warning">
      <span sheet-title-text translate>Something went wrong</span>
      <span sheet-text>
        <span translate>What could have happened?</span>
        <ul>
          <li translate>You have entered the phrase without spaces</li>
          <li translate>The recovery phrase is invalid</li>
          <li *ngIf="params.wordListLength === 1">
            {{'You have only entered {wordListLength} word, please follow the recommendations provided' | translate: params }}
          </li>
          <li *ngIf="params.wordListLength !== 1">
            {{'You have only entered {wordListLength} words, please follow the recommendations provided' | translate: params }}
          </li>
        </ul>
      </span>
      <span sheet-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'no-wallets-error'" type="warning">
      <span sheet-title-text translate>No wallet available</span>
      <span sheet-text>
        {{'You do not have a {coin} wallet able to receive funds. If you decide to create it, remember it needs to be backed up.' | translate: {coin: params.coin ? params.coin : ''} }}
      </span>
      <span sheet-button-text translate>Create Wallet</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'wyre-error'" type="warning">
      <span sheet-title-text translate>Payment Error</span>
      <span sheet-text>
        <span translate>There was an error with the payment process through Wyre.</span>
      </span>
      <span sheet-button-text translate>Visit Help Center</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'protect-money'" type="safeguard">
      <span sheet-title-text translate>Protect your money</span>
      <span sheet-text translate>
        First, lets ensure no one can easily access your crypto funds when you’re away from your device by adding biometric security.
      </span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'pincode-info'" type="safeguard">
      <span sheet-title-text translate>Maybe a pincode instead?</span>
      <span sheet-text translate>
        A pincode will ensure no one can easily access your crypto funds when you're away from your device.
      </span>
      <span sheet-button-text translate>Continue</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'key-verification-required'" type="info">
      <span sheet-title-text translate>Key verification required</span>
      <span sheet-text translate>
        In order to begin purchasing and receiving cryptocurrencies you will need to verify your key. This could take up to 3 minutes long to complete.
      </span>
      <span sheet-button-text translate>VERIFY NOW</span>
      <span sheet-second-button-text translate>DO THIS LATER</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'encrypt-password-warning'" type="warning">
      <span sheet-title-text translate>Are you sure?</span>
      <span sheet-text translate>
        Without encrypting your wallet, a thief or another app on this device could potentially access your money.
      </span>
      <span sheet-button-text translate>I'M SURE</span>
      <span sheet-second-button-text translate>GO BACK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'auth-required'" type="warning">
      <span sheet-title-text translate>Connect Your AbcPay ID</span>
      <span sheet-text>
        To complete this payment, please login with your AbcPay ID.
      </span>
      <span sheet-button-text translate>CONTINUE</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'verification-required'" type="warning">
      <span sheet-title-text translate>Verification Required</span>
      <span sheet-text>
        To complete this payment, a verified account is required.
      </span>
      <span sheet-button-text translate>CONTINUE</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'incorrect-recovery-prhase'" type="danger">
      <span sheet-title-text translate>Incorrect Recovery Phrase</span>
      <span sheet-text>
        The recovery phrase you provided was incorrect. Lets review that you have written down the correct words in the correct order.
      </span>
      <span sheet-button-text translate>TRY AGAIN</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'correct-recovery-prhase'" type="success">
      <span sheet-title-text translate>Perfect!</span>
      <span sheet-text>
        In order to protect your funds from being accessible to hackers and thieves, store this recovery phrase in a safe and secure place.
      </span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'unsupported-alt-currency'" type="{{ params.error ? 'danger' : 'warning' }}">
      <span sheet-title-text translate>{{ params.error ? 'Error' : 'Warning!' }}</span>
      <span sheet-text translate>
        {{params.name}} ({{params.isoCode}}) is no longer supported. Please select another alternative currency.
      </span>
      <span sheet-button-text translate *ngIf="params.error">GOT IT</span>
      <span sheet-button-text translate *ngIf="!params.error">CONTINUE</span>
      <span sheet-second-button-text translate *ngIf="!params.error">DO THIS LATER</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'custom-fee-warning'" type="warning">
      <span sheet-title-text translate>Warning!</span>
      <span sheet-text>
        The fee you are using is lower than the Super Economy level, we do not recommend doing this as the transaction will take very long to confirm or may never do it. You can continue at your own responsibility.
      </span>
      <span sheet-button-text translate>Change Miner Fee</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'send-max-min-amount'" type="danger">
      <span sheet-title-text translate>Error</span>
      <span sheet-text>
        <span translate>As the estimated miner fee to complete the transaction is {{params.fee}} {{params.coin}}, the maximum spendable amount of your wallet is {{params.amount}} {{params.coin}} which is lower than the minimum allowed by the exchange: {{params.minAmount}} {{params.coin}}</span>
        <span *ngIf="params.msg">{{params.msg}}</span>
      </span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'min-amount-allowed'" type="danger">
      <span sheet-title-text translate>Error</span>
      <span sheet-text>
        <span translate>The amount entered is lower than the minimum allowed: {{params.minAmount}} {{params.coin}}</span>
      </span>
      <span sheet-button-text translate>Use Min Amount</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'max-amount-allowed'" type="danger">
      <span sheet-title-text translate>Error</span>
      <span sheet-text>
        <span translate>The amount entered is greater than the maximum allowed: {{params.maxAmount}} {{params.coin}}</span>
      </span>
      <span sheet-button-text translate>Use Max Amount</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>


    <info-sheet-template *ngSwitchCase="'erc20-eth-fee-info'" type="info">
      <span sheet-title-text translate>Reminder</span>
      <span sheet-text>
        <span translate>Keep in mind that once the funds are received in your {{params.coin}} wallet, to move them you will need to have enough funds in your Ethereum linked wallet (<b>{{params.linkedEthWalletName}}</b>) to pay the ETH miner fees.</span>
      </span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'sync-wallets'" type="success">
      <span sheet-title-text>{{params.title}}</span>
      <span sheet-text>{{params.msg}}</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'testnet-warning-1'" type="warning">
      <span sheet-title-text translate>Warning!</span>
      <span sheet-text translate>
        {{ 'Testnet is an alternative {coinName} block chain meant for testing. This allows application developers and testers to experiment without having to use real {coinName}. Testnet coins are different from actual {coinName}, and do not have any value. They cannot be converted into "real" coins and cannot be exchanged or sold as they have no value.' | translate : {coinName: params.coinName } }}
      </span>
      <span sheet-button-text translate>I Understand</span>
      <span sheet-second-button-text translate>Cancel</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'multisig-instantiation'" type="success">
      <span sheet-title-text translate>The transaction is taking longer than usual to confirm</span>
      <span sheet-text translate>When your transaction is confirmed, the multisig wallet will show up in the wallet list. You can check the transaction status in the wallet history.</span>
      <span sheet-button-text translate>OK</span>
    </info-sheet-template>

    <info-sheet-template *ngSwitchCase="'join-wallet-warning'" type="warning">
      <span sheet-title-text translate>Someone asked you to join a multisig wallet?</span>
      <span sheet-text translate>You are about to join a shared wallet. This is an advanced feature, make sure you understand how multisig wallets work before putting funds in it. If a third party invited you to join, make sure you trust them, if you have purchased cryptocurrency they may be scamming you.
      </span>
      <span sheet-button-text translate>READ MORE</span>
      <span sheet-second-button-text translate>GOT IT</span>
    </info-sheet-template>
  </div>
</action-sheet>
