<wide-header-page title="{{'Language'|translate}}">
  <div page-content>
    <ion-list
      radio-group
      [(ngModel)]="currentLanguage"
      class="settings-list bp-list"
    >
      <ion-item *ngFor="let language of languages">
        <ion-label> {{ language.name }} </ion-label>
        <ion-radio
          (click)="save(language.isoCode)"
          [value]="language.isoCode"
        ></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</wide-header-page>
