page-transfer-to {
  .show-more {
    display: flex;
    text-align: center;
  }
  .wallet-disabled {
    background-color: #fbfbfb;
    .main-label {
      color: #d4d4d4;
    }
  }
  .key-divider {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin: 0 25px;
    color: color($colors, grey);
    border-bottom: 1px solid rgba(155, 163, 174, 0.2);
    span {
      margin-left: 10px;
    }
  }
  .no-wallet{
    text-align: center;
    font-size: 18px;
    color: $color-primary;
  }
}
